GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
CACHE_SPREADSHEET_ID=1Nxp2iTrPRIz1dAWuGv2lyo4l8TbKZkGfGKYjYLP6FzI
ALLOWED_EMAILS=cristiane.rezende@minastc.com.br
